<div id="banner">
<h1 class="heading">STAR WARS FILMS</h1>
<input type="search" placeholder="Search Films..." id="search">
</div>
    <div class="modal" style="display: none">
      <div class="overlay"></div>
      <div class="modal_content">
        <button title="Close" class="close_modal">
        x
        </button>
      </div>
    </div>
<table id="table">
  <thead id="header">
    <th>EPISODE NO.</th>
    <th>TITLE</th>
    <th>PRODUCER</th>
    <th>RELEASE DATE</th>
    <th>PREFERENCE</th>
  </thead>
  <tbody id="rows">
  <% @film_info.each do |film| %>
  <tr id="table_rows">
    <td class="cell"><%=film['episode_id']%></td>
    <td class="cell"><%=film['title']%></td>
    <td class="cell"><%=film['producer']%></td>
    <td class="cell"><%=film['release_date']%></td>
    <td><button class="favourite">Favourite</td>
  </tr>
  </tbody>
  <%end%>
</table>