<div id="banner">
<h1 class="heading">Star Wars Films</h1>
</div>
    <div class="modal" style="display: none">
      <div class="overlay"></div>
      <div class="modal_content">
        <button title="Close" class="close_modal">
        x
        </button>
      </div>
    </div>
<table id="table">
  <thead>
    <th>Film Title</th>
    <th>Producer</th>
    <th>Release_Date</th>
    <th>Preference</th>
     </thead>
  <% @film_info.each do |film| %>
  <tr>
    <td><%=film['title']%></td>
    <td><%=film['producer']%></td>
    <td><%=film['release_date']%></td>
    <td><button class="favourite">Favourite</td>
  </tr>
  <%end%>
</table>


